body {
    background-color: #202020;
}
.mypicture {
    width: 500px;
    border-radius: 200px;
    margin-left: 30%;
}
.myname {
    color: aliceblue;
    text-align: center;
}
h3 {
    color: aliceblue;
    text-align: center;
}